<main>
    <section class="form-section">
        <h1>{{pragas}}</h1>
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
            class="btnPrimary" 
            (click)="submit()"
            [disabled]="disablePrimaryBtn"
            >
            {{primaryBtnText}}
        </button>
            <div class="divider"> 
                <div></div>
                <span>OU</span>
                <div></div>
            </div>
            <button class="btnSecundary" (click)="navigate()">{{secundaryBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>Bem vindo!</h1>
        <img src="assets\images\logo.png">
    </section>
</main>