<app-default-login-layout 
    title="Faça o login em sua conta"
    primaryBtnText="Entrar agora"
    secundaryBtnText="Registrar agora"
    pragas="PragasClub"
    (submit)="submit()"
    (navigate)="navigate()"

>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeHolder="email@gmail.com"
        >
            <img src="/assets/images/email.svg" alt="">
        </app-primary-input>
        <app-primary-input
            formControlName="senha"
            inputName="password"
            type="password"
            label="Sua Senha"
        >
            <img src="/assets/images/senha.svg" alt="">
    </app-primary-input>
    <span>Esqueci minha senha</span>
    </form>
</app-default-login-layout>